.sheet-box {
  position: relative;

  background: white;

  border: 3px solid black;

  padding: 12px;

  clip-path: polygon(
    0 0,
    calc(100% - 25px) 0,
    100% 25px,
    100% 100%,
    25px 100%,
    0 calc(100% - 25px)
  );
}

.sheet-box h3 {
  margin-bottom: 12px;

  font-size: 0.8rem;

  text-transform: uppercase;

  letter-spacing: 1px;
}

.sheet-content {
  min-height: 100px;
}